/* Mobile interface */
.box {
  padding: 10px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-snack-bar-container.custom-snackbar {
  background-color: #01bfbf !important;
  color: #fff !important;
}

.mBack {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10%;
}

.dBack {
  display: none;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    justify-content: center;
    width: 90%;
    height: auto;
    border-radius: 4px;
  }

  .mFavButton {
    position: absolute;
    bottom: 0;
    right: 5%;

    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 5px 21px 5px 20px;
    background-color: #01bfbf;
    color: #fff;
    border-radius: 4px 0 4px 0;

    .mat-icon {
      display: flex;
      align-items: center;
      font-size: 1em;
    }
  }
}

.desc {
  padding: 10px;
  border: 1px solid #01bfbf;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: row;
  width: 90%;
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  color: #01bfbf;
}

.descA {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.descT {
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  color: #000;
}

.ingr,
.step {
  padding: 0 1.8rem 0 1.8rem;
}

.ingr ul {
  padding-left: 1.2em;
}

.ingr h2,
.step h2 {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  color: #01bfbf;
}

mat-divider {
  border: 1px solid #000 !important;
  margin: -6% 0% 2% 0% !important;
}

.favButton {
  display: none;
}

mat-select {
  background-color: #01bfbf !important;
}

/* Tablet interface */
@media (min-width: 768px) {
  .title {
    font-size: 2em;
  }

  .pic img {
    width: 441px;
    height: auto;
  }

  .desc {
    width: 431px;
    font-size: 12px;
  }

  .descA {
    flex-direction: column;
  }

  .favButton {
    flex-direction: row;
  }
}

/* Desktop interface */
@media (min-width: 1025px) {
  .mBack {
    display: none;
  }

  .dBack {
    display: block;
  }

  .title {
    font-size: 2.5em;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .pic {
    .mFavButton {
      display: none;
    }
  }

  .favButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .favButton button {
    color: #01bfbf;
  }

  .pic img {
    width: 473px;
    height: auto;
  }

  .desc {
    display: flex;
    flex-direction: row;
    width: 550px;
  }

  .ingr,
  .step {
    padding: 0 32% 0 32%;
  }

  mat-divider {
    border: 1px solid #000 !important;
    margin: -2% 0% 2% 0% !important;
  }
}
