<app-header></app-header>
<div class="box">
    <section>
        <div class="mBack">
            <button mat-icon-button (click)="goBack()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <span>Kembali</span>
        </div>
        <div class="title">
            <button class="dBack" mat-icon-button (click)="goBack()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <span>{{recipeDetail?.data?.recipeName}}</span>
        </div>
        <div class="pic">
            <img src="{{recipeDetail?.data?.imageFilename}}" (load)="imageLoaded = true" alt="food">
            <div class="mFavButton" *ngIf="imageLoaded" (click)="recipeDetail?.data?.isFavorite ? removeFavorite() : addFavorite()">
                <mat-icon>{{ recipeDetail?.data?.isFavorite ? 'star' : 'star_border' }}</mat-icon>
                <span>Favorit</span>
            </div>
        </div>
        <div class="desc">
            <div class="descA">
                <span class="descT">Kategori</span>
                <span>{{recipeDetail?.data?.categories?.categoryName}}</span>
            </div>
            <div class="descA">
                <span class="descT" >Waktu Masak</span>
                <span>{{recipeDetail?.data?.timeCook}} Menit</span>
            </div>
            <div class="descA">
                <span  class="descT">Kesulitan</span>
                <span>{{recipeDetail?.data?.levels?.levelName}}</span>
            </div>
            <div class="favButton" (click)="recipeDetail?.data?.isFavorite ? removeFavorite() : addFavorite()">
                <button mat-button >
                    <mat-icon>{{ recipeDetail?.data?.isFavorite ? 'star' : 'star_border' }}</mat-icon>
                    Favorit
                </button>
            </div>
        </div>
        <div class="ingr">
            <h2>Bahan - Bahan</h2>
            <mat-divider></mat-divider>
            <p [innerHTML]="ingredients">
        </div>
        <div class="step">
            <h2>Cara Memasak</h2>
            <mat-divider></mat-divider>
            <p [innerHTML]="howToCook">
        </div>
    </section>
</div>


<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="confirmDialog">
          <button mat-icon-button class="close-button" (click)="cd.reject()">
            <mat-icon>close</mat-icon>
          </button>
            <div>
                <img src="assets/error_outline_24px.png">
            </div>
            <p>Apakah Anda yakin ingin menghapus resep ini dari favorit?</p>
            <div class="confirmButton">
              <button mat-button class="rejectButton" (click)="cd.reject()">Tidak</button>
              <button mat-button class="acceptButton" (click)="cd.accept()">Ya</button>
            </div>
        </div>
    </ng-template>
  </p-confirmDialog>