<mat-toolbar class="header">
    <div class="logo" routerLink="/daftar-resep">
        <img src="assets/pngwing 1.png" >
        <h1>Buku Resep 79</h1>
    </div>
    <div class="nav">
        <button mat-button routerLinkActive="router-link-active" routerLink="/daftar-resep">Daftar Resep Makanan</button>
        <button mat-button routerLinkActive="router-link-active" routerLink="/resep-saya">Resep Saya</button>
        <button mat-button routerLinkActive="router-link-active" routerLink="/resep-favorit">Resep Favorit</button>
        <button mat-icon-button [matMenuTriggerFor]="logo"  aria-label="Profile">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #logo="matMenu">
            <button mat-menu-item (click)="logout()">Sign Out</button>
        </mat-menu>
    </div>
    <div class="menu">
        <button mat-button (click)="sidebarVisible2 = true" [ngStyle]="{color: 'white'}">
            <mat-icon>menu</mat-icon>
        </button>

        <p-sidebar  [(visible)]="sidebarVisible2" position="right" [style]="{ backgroundColor: '#f49881' }">
            <div class="mNav">
                <div class="mNavButton">
                    <img src="assets/document.png">
                    <button mat-button routerLinkActive="router-link-active" routerLink="/daftar-resep">Daftar Resep Makanan</button>
                </div>
                <div class="mNavButton">
                    <img src="assets/heart-add.png">
                    <button mat-button routerLinkActive="router-link-active" routerLink="/resep-saya">Resep Saya</button>
                </div>
                <div class="mNavButton">
                    <img src="assets/star.png">
                    <button mat-button routerLinkActive="router-link-active" routerLink="/resep-favorit">Resep Favorit</button>
                </div>    
                <div class="mNavButton">
                    <img src="assets/logout.png">
                    <button mat-button (click)="logout()">Logout</button>
                </div>
            </div>
        </p-sidebar>
    </div>
</mat-toolbar>