<div mat-dialog-content>
    <div class="filter1">
        <section>
            <label>Tingkat Kesulitan</label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-select [(value)]="data.selectedLevelId">
                    <mat-option *ngFor="let level of data.levels" [value]="level.id">{{level.name}}</mat-option>
                </mat-select>
            </mat-form-field>         
        </section>
        <section>
            <label>Kategori</label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-select [(value)]="data.categoryId">
                    <mat-option *ngFor="let category of data.category" [value]="category.id">{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </div>

    <div class="filter2">
        <section>
            <label>Waktu Memasak</label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Time</mat-label>
                <mat-select [(value)]="data.time">
                    <mat-option *ngFor="let time of data.time" [value]="time">{{time}}</mat-option>
                </mat-select>
            </mat-form-field>
        </section>
        <section>
            <label>Sort By</label>
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-select [(value)]="data.selectedSortOption" placeholder="Sort By">
                    <mat-option *ngFor="let option of data.sortOptions" [value]="option.value" class="my-option">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </section>
    </div>
</div>
<div class="filterAction">
    <button mat-button class="reset-button" (click)="resetFilters()">Bersihkan Filter</button>
    <div mat-dialog-actions class="button-container">
        <button mat-button class="cancel-button" (click)="onNoClick()">Cancel</button>
        <button mat-button class="ok-button" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
</div>

