<app-header></app-header>
<div class="container mt-4">
  <h1 class="mt-4">Update Recipe</h1>

  <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmit()">
    <!-- Category Dropdown -->
    <!-- Category Dropdown -->
    <div class="form-group">
      <label for="categoryId">Category</label>
      <select formControlName="categoryId" class="form-control" id="categoryId">
        <option *ngIf="editRecipe?.categories" [value]="editRecipe.categories.categoryId">{{ editRecipe.categories.categoryName }}</option>
      </select>
    </div>
    <!-- Level Dropdown -->
    <div class="form-group">
      <label for="levelId">Level</label>
      <select formControlName="levelId" class="form-control" id="levelId">
        <option *ngIf="editRecipe?.levels" [value]="editRecipe.levels.levelId">{{ editRecipe.levels.levelName }}</option>
      </select>
    </div>
    <!-- Recipe Name Input -->
    <div class="form-group">
      <label for="recipeName">Recipe Name</label>
      <input formControlName="recipeName" id="recipeName" type="text" class="form-control">
      <div *ngIf="editRecipeForm.get('recipeName')?.touched && editRecipeForm.get('recipeName')?.invalid" class="alert alert-danger">
        Recipe Name is required.
      </div>
    </div>
    <!-- Image File Input -->
    <!-- Image File Input -->
    <div class="form-group">
      <label for="imageFileName">Image Filename</label>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control-file" name="image">
      <div *ngIf="editRecipeForm.get('imageFileName')?.touched && editRecipeForm.get('imageFileName')?.invalid" class="alert alert-danger">
        Image Filename is required.
      </div>
    </div>
    <!-- Time Cook Input -->
    <div class="form-group">
      <label for="timeCook">Time Cook</label>
      <input formControlName="timeCook" id="timeCook" type="number" class="form-control">
      <div *ngIf="editRecipeForm.get('timeCook')?.touched && editRecipeForm.get('timeCook')?.invalid" class="alert alert-danger">
        Time Cook is required.
      </div>
    </div>
    <!-- Ingredient Textarea -->
    <div class="form-group">
      <label for="ingredient">Ingredient</label>
      <textarea formControlName="ingridient" id="ingridient" class="form-control" rows="4"></textarea>
      <div *ngIf="editRecipeForm.get('ingridient')?.touched && editRecipeForm.get('ingridient')?.invalid" class="alert alert-danger">
        Ingredient is required.
      </div>
    </div>
    <!-- How to Cook Textarea -->
    <div class="form-group">
      <label for="howToCook">How to Cook</label>
      <textarea formControlName="howToCook" id="howToCook" class="form-control" rows="4"></textarea>
      <div *ngIf="editRecipeForm.get('howToCook')?.touched && editRecipeForm.get('howToCook')?.invalid" class="alert alert-danger">
        How to Cook is required.
      </div>
    </div>
    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
