<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap">

</head>

<body>

  <h1>Buku Resep 79</h1>

  <div class="image-custom">
    <img src="assets/pngwing 1.svg" alt="Logo">
  </div>

  <div class="card-login">
    <mat-card class="atas">
      <p class="login-text">Login</p>
    </mat-card>

    <mat-card class="bawah">
      <form method="post" class="form">
        <label for="username">Username *</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Kata Sandi *</label><br>
        <input type="password" id="password" name="password"><br>
        <button class="login-button" type="submit" mat-flat-button>Login</button>
      </form>
      <p>Belum punya Akun? <a href="Daftar Disini">Daftar Disini</a></p>
      <h2>About</h2>
    </mat-card>
  </div>



</body>

</html>