<div class="body">
  <app-header></app-header>
  <div class="mobileFilter">
    <h1>
      Daftar Resep Masakan
    </h1>

    <!-- Search Form -->
    <div class="search-container">
      <form (submit)="filterRecipes()">
        <input class="search-input" type="text" [(ngModel)]="searchText" name="searchText" placeholder="cari resep">
        <i class="material-icons search-icon" (click)="filterRecipes()">search</i>
        <i class="material-icons clear-icon" *ngIf="searchText" (click)="clearSearch()">clear</i>
      </form>
    </div>

    <!-- Filter and Sort Options -->
    <div class="filter">
      <button mat-button (click)="openFilterDialogMobile()" class="button">
        Filter
        <mat-icon>filter_list</mat-icon>
      </button>
      <div class="so">
        <mat-select [(ngModel)]="selectedSortOption" (selectionChange)="loadBookRecipes()" placeholder="Sort By">
          <mat-option
          *ngFor="let option of sortOptions" [value]="option.value" class="my-option">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </div>
    </div>

    <!-- Add Recipe Button -->
    <div class="button-container">
      <button class="tambahResep" routerLink="/tambah-resep">
        <mat-icon>add</mat-icon>
        Tambah Resep
      </button>
    </div>
  </div>

  <!-- Desktop Filter Options -->
  <div class="dekstopFilter">
    <div class="dFilter">
        <div class="button-container">
          <button class="tambahResep" routerLink="/tambah-resep">
            <mat-icon>add</mat-icon>
            Tambah Resep
          </button>
        </div>

        <!-- Search Form -->
        <div class="search-container">
          <form (ngSubmit)="filterRecipes()">
            <input class="search-input" type="text" [(ngModel)]="searchText" name="searchText" placeholder="Cari Resep">
            <i class="material-icons search-icon" (click)="filterRecipes()">search</i>
            <i class="material-icons clear-icon" *ngIf="searchText" (click)="clearSearch()">clear</i>
          </form>
        </div>

      <!-- Filter Button -->
      <div class="filter">
        <button (click)="openFilterDialog()" class="button filter-button" [class.active]="isFiltering">
          <mat-icon>filter_list</mat-icon>
          Filter
        </button>
      </div>
    </div>

    <h1>
      Daftar Resep Masakan
    </h1>

  </div>

  <!-- Recipe Cards -->
  <section class="container">
    <mat-card *ngFor="let bookRecipe of filteredRecipes">
      <img mat-card-image [src]="bookRecipe.imageUrl" alt="Card image">
      <mat-card-content>
        <div class="content">
          <span>{{bookRecipe.categories?.categoryName}}</span>
          <span>{{bookRecipe.levels?.levelName}}</span>
        </div>
        <h3>{{bookRecipe.recipeName}}</h3>
        <div class="content">
          <div class="recipeTime">
            <mat-icon>access_time</mat-icon>
            <span> {{bookRecipe.time}} Menit </span>
          </div>
          <button class="favButton"  (click)="bookRecipe.isFavorite ? removeFavorite(bookRecipe.recipeId) : addFavorite(bookRecipe.recipeId)">
            <mat-icon>{{bookRecipe.isFavorite ? 'star' : 'star_border'}}</mat-icon>
            <span>Favorit</span>
          </button>

      </div>
      <div class="content2">
        <button [routerLink]="['/detail-resep', bookRecipe.recipeId]">Lihat Detail Resep</button>
      </div>
      <mat-divider/>
      </mat-card-content>
    </mat-card>

    <!-- Pagination -->
    <section class="bottomNav">
      <div class="pageSize">
        <span>Entries</span>
        <div class="entries" *ngFor="let size of pageSizeOptions">
          <span (click)="changePageSize(size)" [class.active]="size === pageSize">{{size}}</span>
        </div>
      </div>
      <div class="paginator">
        <ngb-pagination [collectionSize]="totalPages" [(page)]="pageNumber" [maxSize]="5" [rotate]="true" (pageChange)="changePage($event)" size="sm"></ngb-pagination>
      </div>
    </section>
  </section>
</div>

<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
      <div class="confirmDialog">
        <button class="close-button" (click)="cd.reject()">
          <mat-icon>close</mat-icon>
        </button>
          <div>
              <img src="assets/error_outline_24px.png">
          </div>
          <p>`Apakah Anda yakin ingin menghapus resep ini dari favorit?`</p>
          <div class="confirmButton">
            <button class="rejectButton" (click)="cd.reject()">Tidak</button>
            <button class="acceptButton" (click)="cd.accept()">Ya</button>
          </div>
      </div>
  </ng-template>
</p-confirmDialog>
