/* You can add global styles to this file, and also import other style files */
@import "../node_modules/quill/dist/quill.snow.css";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");
* {
  font-family: "Mulish";
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f9f9 !important;
}

.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #01bfbf !important;
  --bs-pagination-bg: none !important;
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: none !important;
  --bs-pagination-border-radius: 50% !important;
  --bs-pagination-hover-color: #01bfbf !important;
  --bs-pagination-hover-bg: none !important;
  --bs-pagination-hover-border-color: none !important;
  --bs-pagination-focus-color: #01bfbf !important;
  --bs-pagination-focus-bg: none !important;
  --bs-pagination-focus-box-shadow: none !important;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #01bfbf !important;
  --bs-pagination-active-border-color: none !important;
  --bs-pagination-active-border-radius: 50% !important;
  --bs-pagination-disabled-color: #77f5f5 !important;
  --bs-pagination-disabled-bg: none !important;
  --bs-pagination-disabled-border-color: none !important;
  display: flex;
  gap: 0.2rem;
  padding-left: 0;
  list-style: none;
}

.page-link {
  align-items: center;
  padding: 6px 12px !important;
  border-radius: 30px !important;
}

.confirmDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 4px;
  gap: 1em;
  text-align: center;
  width: 80%;
  align-self: center;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  color: #01bfbf !important;
  font-size: 16px !important;
  font-family: "Mulish" !important;
  font-weight: 600 !important;
  background-color: white !important;
  border-radius: 4px 0 0 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: white !important;
  border-radius: 4px !important;
}

.mat-mdc-snack-bar-container.error .mdc-snackbar__label {
  color: #bf0101 !important;
  font-size: 16px !important;
  font-family: "Mulish" !important;
  font-weight: 600 !important;
  background-color: white !important;
  border-radius: 4px 0 0 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-snack-bar-container.error .mdc-snackbar__surface {
  background-color: white !important;
  border-radius: 4px !important;
}

.confirmDialog .close-button {
  align-self: flex-end;
  color: darkgray;
}

.confirmDialog .rejectButton {
  border: 3px solid #01bfbf;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #01bfbf !important;
  margin-right: 2em;
  font-weight: bold;
}

.confirmDialog .acceptButton {
  background-color: #01bfbf !important;
  color: white !important;
  padding: 0.7em 2em;
  border-radius: 4px;
  font-weight: bold;
}

.custom-fav-dialog .dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  gap: 1em;
}

.custom-fav-dialog .dialog .img {
  display: flex;
  justify-content: center;
}

.custom-fav-dialog .dialog .img .img1 {
  position: relative;
}
.custom-fav-dialog .dialog .img .img2 {
  position: absolute;
  top: 25%;
}

.custom-fav-dialog .dialog .closeButton {
  align-self: flex-end;
  color: darkgray;
}

.custom-fav-dialog .dialog h1 {
  align-self: center;
  font-family: "Mulish";
  font-weight: 600;
  color: #00e696;
  font-size: 32px;
}

.custom-fav-dialog .dialog p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.custom-fav-dialog .dialog .continueButton {
  border: none;
  border-radius: 4px;
  padding: 0.7em 2em;
  background-color: #01bfbf;
  color: white;
  align-self: center;
  width: 50%;
}

@media (min-width: 1024px) {
  .confirmDialog {
    width: 500px;
    gap: 2em;
  }

  .confirmDialog .rejectButton {
    border: 3px solid #01bfbf;
    border-radius: 4px;
    padding: 0.3em 3em;
    color: #01bfbf;
    margin-right: 3em;
    font-weight: bold;
  }

  .confirmDialog .acceptButton {
    background-color: #01bfbf;
    color: white;
    padding: 0.5em 4em;
    margin-left: 3em;
    border-radius: 4px;
    font-weight: bold;
  }

  .custom-dialog-container .dialog {
    padding: 2em;
  }

  .custom-fav-dialog .dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    gap: 1em;
  }

  .custom-fav-dialog .dialog .img {
    display: flex;
    justify-content: center;
  }

  .custom-fav-dialog .dialog .img .img1 {
    position: relative;
  }
  .custom-fav-dialog .dialog .img .img2 {
    position: absolute;
    top: 26%;
  }

  .custom-fav-dialog .dialog .closeButton {
    align-self: flex-end;
    color: darkgray;
  }

  .custom-fav-dialog .dialog h1 {
    align-self: center;
    font-family: "Mulish";
    font-weight: 600;
    color: #00e696;
    font-size: 32px;
  }

  .custom-fav-dialog .dialog p {
    font-weight: 400;
    font-size: 18px;
  }

  .custom-fav-dialog .dialog .continueButton {
    border: none;
    border-radius: 4px;
    padding: 0.7em 2em;
    background-color: #01bfbf;
    color: white;
    align-self: center;
    width: 50%;
  }
}
