<app-header></app-header>

<div>
  <h1>Buat Resep Masakan Baru</h1>
</div>

<div class="container">
  <form [formGroup]="addRecipeForm" (ngSubmit)="addRecipe()">
    <div class="container-recipe">
      <div>
        <div class="displaybox1">
          <div class="mb-3">
            <label class="form-label">Nama Resep Masakan *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nama Resep Masakan"
              formControlName="recipeName"
              name="recipeName"
            />
            <div
              *ngIf="
                (submitted || addRecipeForm.get('recipeName')?.touched) &&
                addRecipeForm.get('recipeName')?.invalid
              "
              class="text-danger"
            >
              Nama Resep Masakan harus diisi.
            </div>
          </div>
        </div>
        <div class="displaybox1">
          <label class="form-label">Gambar Makanan *</label>
          <div ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
            <ngx-dropzone-label>
              <div>
                <p class="title-dropzone">
                  <strong>Click to upload</strong> or drag and drop
                </p>
                <p class="title2-dropzone">PNG, JPG, JPEG (MAX 1 MB)</p>
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview
              ngProjectAs="ngx-dropzone-preview"
              *ngFor="let f of files"
              [file]="f"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-image-preview>
          </div>
          <div *ngIf="submitted && files.length === 0" class="text-danger">
            Gambar harap diisi.
          </div>
          <div *ngIf="submitted && isFileTooLarge()" class="text-danger">
            Gambar yang dibolehkan maks 1 MB.
          </div>
        </div>
        <div class="displaybox1">
          <label class="label-form">Bahan - Bahan *</label>
          <quill-editor
            class="quillbox1"
            formControlName="ingridient"
            name="ingridient"
          ></quill-editor>
          <div
            *ngIf="
              (submitted || addRecipeForm.get('ingridient')?.touched) &&
              addRecipeForm.get('ingridient')?.invalid
            "
            class="text-danger"
          >
            Bahan Bahan harus diisi.
          </div>
        </div>
      </div>
      <div>
        <div class="displaybox2">
          <p>Kategori Masakan *</p>
          <div class="displaybox5" formGroupName="categories">
            <select
              class="form-select"
              (change)="changeCategory($event)"
              aria-label="Default select example"
              formControlName="categoryId"
              name="categordId"
            >
              <option value="" disabled selected>Pilih Kategori</option>
              <option
                [value]="category.categoryId"
                *ngFor="let category of this.categoryFood"
              >
                {{ category.categoryName }}
              </option>
            </select>
            <div
              *ngIf="
                (submitted ||
                  addRecipeForm.get('categories.categoryId')?.touched) &&
                addRecipeForm.get('categories.categoryId')?.errors?.required
              "
              class="text-danger"
            >
              Kategori Masakan harus dipilih.
            </div>
          </div>
        </div>
        <!-- hasil {{ selectedCategory }} -->
        <div class="displaybox2">
          <div class="displaybox7">
            <div class="displaybox3">
              <div class="mb-3">
                <label class="form-label">Waktu Memasak(Menit) *</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Waktu Memasak"
                  formControlName="timeCook"
                  name="timeCook"
                />
                <div
                  *ngIf="
                    (submitted || addRecipeForm.get('timeCook')?.touched) &&
                    addRecipeForm.get('timeCook')?.errors
                  "
                >
                  <div
                    *ngIf="addRecipeForm.get('timeCook')?.errors?.required"
                    class="text-danger"
                  >
                    Waktu Memasak harus diisi.
                  </div>
                  <div
                    *ngIf="addRecipeForm.get('timeCook')?.errors?.min"
                    class="text-danger"
                  >
                    Min 1 menit.
                  </div>
                </div>
              </div>
            </div>
            <div class="displaybox4" formGroupName="levels">
              <p>Tingkat Kesulitan *</p>
              <select
                class="form-select"
                aria-label="Default select example"
                name="levelId"
                formControlName="levelId"
                (change)="changeLevel($event)"
              >
                <option value="" disabled selected>Pilih Tingkatan</option>
                <option
                  [value]="level.levelId"
                  *ngFor="let level of this.levelFood"
                >
                  {{ level.levelName }}
                </option>
              </select>
              <div
                *ngIf="
                  (submitted || addRecipeForm.get('levels.levelId')?.touched) &&
                  addRecipeForm.get('levels.levelId')?.errors?.required
                "
                class="text-danger"
              >
                Kategori Masakan harus dipilih.
              </div>
            </div>
          </div>
          <div class="displaybox6">
            <label class="form-label">Cara Masak *</label>
            <quill-editor
              class="quillbox2"
              formControlName="howToCook"
              name="howToCook"
            ></quill-editor>
            <div
              *ngIf="
                (submitted || addRecipeForm.get('howToCook')?.touched) &&
                addRecipeForm.get('howToCook')?.invalid
              "
              class="text-danger"
            >
              Cara Masak harus diisi.
            </div>
          </div>

          <div class="button-details">
            <div>
              <button type="button" class="button-cancel" (click)="resetForm()">
                Batal
              </button>
            </div>
            <div>
              <button type="submit" class="button-addSubmit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
