<app-header></app-header>

<div>
  <h1>Buat Resep Masakan Baru</h1>
</div>

<div class="container">
  <form action="#">
    <div class="container-recipe">
      <div>
        <div class="displaybox1">
          <div class="mb-3">
            <label class="form-label">Nama Resep Masakan *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nama Resep Masakan"
            />
          </div>
        </div>
        <div class="displaybox1">
          <label class="form-label">Gambar Makanan *</label>
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label
              >Click to upload or drag and drop PNG, JPG, JPEG (MAX
              2MB)</ngx-dropzone-label
            >
            <ngx-dropzone-preview
              *ngFor="let f of files"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label>
                {{ f.name }} {{ f.type }}
              </ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
        <div class="displaybox1">
          <label class="form-label">Bahan - Bahan *</label>
          <quill-editor class="quillbox1"></quill-editor>
        </div>
      </div>
      <div>
        <div class="displaybox2">
          <p>Kategori Masakan *</p>
          <div class="displaybox5">
            <select class="form-select" aria-label="Default select example">
              <option *ngFor="let category of this.categoryFood">
                {{ category.categoryName }}
              </option>
            </select>
          </div>
        </div>
        <div class="displaybox2">
          <div class="displaybox7">
            <div class="displaybox3">
              <div class="mb-3">
                <label class="form-label">Waktu Memasak(Menit) *</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Waktu Memasak"
                />
              </div>
            </div>
            <div class="displaybox4">
              <p>Tingkat Kesulitan *</p>
              <select class="form-select" aria-label="Default select example">
                <option *ngFor="let level of this.levelFood">
                  {{ level.levelName }}
                </option>
              </select>
            </div>
          </div>
          <div class="displaybox6">
            <label class="form-label">Cara Masak *</label>
            <quill-editor class="quillbox2"></quill-editor>
          </div>
          <div class="button-details">
            <div>
              <button class="button-cancel">Batal</button>
            </div>
            <div>
              <button class="button-addSubmit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
